* {
    user-select: none;
    margin: 0;
}

body {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    min-width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../projectpictures/gameBackground.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.AllowFlash * {
    position: absolute;
}

.AllowFlash {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.644);
    min-width: 100%;
    height: 100vh;
    z-index: 100;
}

.AllowFlash:target {
    display: flex; 
}

.flashBox {
    background-color: white;
    font-family: sans-serif;
    position: fixed;
    top: 2vh;
    left: 3vw;
    width: 260px;
    height: 120px;
    border: 2px rgb(172, 172, 172) solid;
    border-radius: 3px;
}

.flashPopUpContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.flashButton1, #flashButton2 {
    font-size: 20px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    padding: 6px;
    background-color: #F1F1F1;
    border: 2px rgb(172, 172, 172) solid;
    border-radius: 3px;
}

.flashButton1 {
    top: 70px;
    left: 100px;
}

#flashButton2 {
    top: 70px;
    left: 175px;
}

.flashIcon {
    top: 37px;
    left: 15px;
    width: 20px;
}

.flashPopUpContent p {
    top: 40px;
    left: 40px;
    width: 90px;
}

.flashPopUpContent h5 {
    top: 10px;
    left: 10px;
    width: 180px;
    height: 22px;
    font-size: 100%;
}

.gameCube {
    position: absolute;
    min-width: 1200px;
    height: 800px;
    background: #000000;
    border: 20px rgb(136, 157, 224) ridge;
}

.mainGameScreen, .coalMineGameScreen, .coalMineTwoGameScreen, .elfSchoolGameScreen, .hotChocoLab, .santasHomeGameScreen, .santasWorkshopGameScreen, .snowFactoryGameScreen {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.mainGameScreen {
    background-image: url(../projectpictures/map/entireMap.png);
}

.coalMineGameScreen {
    background-image: url(../projectpictures/scenery/prison.jpg);
}

.coalMineTwoGameScreen {
    background-image: url(../projectpictures/scenery/caveTwo.jpg);
}

.elfSchoolGameScreen {
    background-image: url(../projectpictures/scenery/schoolclassroom.jpg)
}

.hotChocoLab {
    background-image: url(../projectpictures/scenery/Chocolab.jpg);
}

.santasHomeGameScreen {
    background-image: url(../projectpictures/scenery/SantaHome.jpeg);
}

.santasWorkshopGameScreen {
    background-image: url(../projectpictures/scenery/santasworkshop.png);
}

.snowFactoryGameScreen {
    background-image: url(../projectpictures/scenery/snowFactory.png);
}

.goBack *{
    position: absolute;
    width: 80px;
    z-index: 50;
    left: 10px;
    top: 10px;
}

.mapIcons, .goBackButton {
    display: flex;
    flex-direction: row;
}

.goBack img:hover {
    width: 90px;
}

.lights {
    position: absolute;
    top: 8px;
    z-index: 0;
}

.mapIcons * {
    width: 65px;
    position: absolute;
}

.mapIcons .bigger:hover {
    width: 80px;
}

.hotChocolateLab {
    right: 230px;
    top: 450px;
}

.coalMine {
    left: 290px;
    top: 160px;
}

.coalMineTwo {
    left: 560px;
    top: 440px;
}

.santasHome {
    left: 450px;
    top: 310px;
}

.santasWorkshop {
    bottom: 160px;
    left: 55px;
}

.elfSchool {
    top: 60px;
    left: 30px;
}

.snowFactory {
    right: 270px;
    top: 200px;
}

.snowFactory img {
    width: 130px;
}

.snowFactory img:hover {
    width: 145px;
}

.iconNameTag {
    display: flex;
    justify-content: center;
    text-align: center;
}

.iconNameTag * {
    position: absolute;
}

.iconNameTag img {
    width: 100%;
}

.iconNameTag h3 {
    z-index: 10;
    width: 100%;
    top: 3px;
}

.snowFactoryIconNameTag {
    width: 170px;
    right: 200px;
    top: 315px;
}

.hotChocolateLabIconNameTag {
    width: 170px;
    right: 180px;
    top: 420px;
}

.coalMineIconNameTag {
    width: 170px;
    left: 240px;
    top: 210px
}

.santasHomeIconNameTag {
    width: 170px;
    left: 400px;
    top: 275px;
}

.santasWorkshopIconNameTag {
    width: 200px;
    left: 1px;
    bottom: 200px;
}

.santasWorkshopIconNameTag h3 {
    top: 5px;
}

.elfSchoolIconNameTag {
    width: 150px;
    left: 1px;
    top: 140px;
}

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    color: #830000;
}
  
.popup:target {
    display: flex; 
}

.characters *, .characterText, .characterNames, .characterNamesFlipped {
    position: absolute;
}

.Oskaras img {
    width: 400px;
}

.Oskaras {
    right: 550px;
    top: 240px;
}

.elfGiedrius {
    right: 400px;
    top: 0;
    z-index: 50;
}

.elfEimantas {
    left: 100px;
    top: 30px;
}

.Naglis {
    left: 100px;
    top: 260px;
}

.santa {
    right: 470px;
    top: 240px;
}

.santa img {
    width: 250px;
}

.GingerGerardas {
    right: 320px;
    top: 340px;
}

.GingerGerardas img {
    height: 370px;
    width: 220px;
}

.GingerKajus img {
    height: 220px;
    width: 200px;
}

.GingerKajus {
    right: 700px;
    top: 215px;
}

.Ernestas {
    right: 640px;
    top: 380px;
}

.Armandas {
    right: 450px;
    top: 80px;
}

.Saulius {
    right: 300px;
    top: 50px;
}

.Justas {
    left: 300px;
    top: 200px;
}

.hoboSimona img, .grinchAleksas img {
    height: 60px;
}

.hoboSimona {
    top: 150px;
    left: 600px;
}

.grinchAleksas {
    top: 440px;
    left: 500px;
}

.characterNames, .characterText {
    font-size: 25px;
}

.characterNames {
    left: 190px;
    top: 520px;
}

.characterNamesFlipped {
    font-size: 25px;
    right: 180px;
    top: 520px;
}

.characterText {
    width: 750px;
    height: 50px;
    left: 215px;
    top: 610px;
}

.candyCane {
    position: absolute;
    opacity: 0.4;
}

.coalMineGameScreen .candyCane {
    top: 180px;
    left: 611px;
}

.hotChocoLab .candyCane {
    right: 10px;
    top: 392px;
}

.elfSchoolGameScreen .candyCane{
    left: 18px;
    top: 395px;
}

.snowFactoryGameScreen .candyCane{
    right: 35px;
    bottom: 170px;
}

.santasHomeGameScreen .candyCane {
    left: 250px;
    top: 160px;
}

.santasWorkshopGameScreen .candyCane {
    right: 58px;
    bottom: 133px;
}


@media screen and (max-width: 1240px) {
    .gameCube {
        left: 0;
    }

}

@media screen and (min-width: 1900px) {
  .flashBox {
    transform: scale(1.3);
    top: 4vh;
    left: 5vw;
  }
}

@media screen and (min-width: 2500px) {
  .flashBox {
    transform: scale(1.6);
    top: 5vh;
    left: 6vw;
  }

}
