* {
    margin: 0;
}

body {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/078/706/740/original/andre-gomes-snowwalk.gif?1722871967);
    background-repeat: no-repeat;
    background-size: cover;
}

.AllowFlash {
    background-color: rgba(0, 0, 0, 0.644);
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.AllowFlash:target {
    display: flex; 
}

.flashBox {
    display: flex;
    position: absolute;
    background-color: white;
    font-family: sans-serif;
    width: 260px;
    height: 120px;
    top: 10px;
    left: 50px;
}

.flashPopUpContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.flashPopUpContent *{
    position: absolute;
}

.flashButton1, .flashButton2 {
    font-size: 20px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    padding: 6px;
    background-color: rgb(202, 202, 202);
    border: 2px rgb(172, 172, 172) solid;
    border-radius: 3px;
}

.flashButton1 {
    top: 70px;
    left: 100px;
}

.flashButton2 {
    top: 70px;
    left: 175px;
}


.flashIcon {
    top: 40px;
    left: 15px;
    width: 20px;
}

.flashPopUpContent p {
    top: 40px;
    left: 40px;
    font-size: 15px;
}

.flashPopUpContent h5 {
    top: 10px;
    left: 10px;
    font-size: 15px;
}

.gameCube {
    position: absolute;
    min-width: 1200px;
    height: 800px;
    background: #000000;
    border: 20px rgb(136, 157, 224) ridge;
}

@media screen and (max-width: 1240px) {
  .gameCube {
    left: 0;
  }

}

.mainGameScreen, .coalMineGameScreen, .elfSchoolGameScreen, .hotChocolateBreweryGameScreen, .santasHomeGameScreen, .santasWorkshopGameScreen, .snowFactoryGameScreen {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.mainGameScreen {
    background-image: url(../projectpictures/map/entireMap.png);
}

.coalMineGameScreen {
    background-image: url(../projectpictures/scenery/prison.jpg);
}

.elfSchoolGameScreen {
    background-image: url(../projectpictures/scenery/schoolclassroom.jpg)
}

.hotChocolateBreweryGameScreen {
    background-image: url(../projectpictures/scenery/Chocolab.jpg);
}

.santasHomeGameScreen {
    background-image: url(../projectpictures/scenery/SantaHome.jpeg);
}

.santasWorkshopGameScreen {
    background-image: url(../projectpictures/scenery/santasworkshop.png);
}

.snowFactoryGameScreen {
    background-image: url(../projectpictures/scenery/snowFactory.png);
}

.goBack *{
    position: absolute;
    width: 120px;
    z-index: 50;
}

.mapIcons, .goBackButton {
    display: flex;
    flex-direction: row;
}


.goBack img:hover {
    width: 130px;
}

.lights {
    position: absolute;
    top: 8px;
    z-index: 0;
}

.mapIcons * {
    width: 65px;
    position: absolute;
}

.mapIcons .bigger:hover {
    width: 80px;
}

.hotChocolateBrewery {
    right: 230px;
    top: 450px;
}

.coalMine {
    left: 290px;
    top: 160px;
} 

.santasHome {
    left: 450px;
    top: 310px;
}

.santasWorkshop {
    bottom: 160px;
    left: 50px;
}

.elfSchool {
    top: 60px;
    left: 25px;
}

.snowFactory {
    right: 270px;
    top: 200px;
}

.snowFactory img {
    width: 130px;
}

.snowFactory img:hover {
    width: 145px;
}


.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
  
.popup:target {
    display: flex; 
}

.characters *, .characterText, .characterNames, .characterNamesFlipped {
    position: absolute;
}

.SnolfSnowler img {
    width: 550px;
}


.SnolfSnowler {
    right: 550px;
    top: 240px;
}

.elfGiedrius {
    right: 400px;
    top: 0;
    z-index: 50;
}

.yeti {
    left: 100px;
    top: 260px;
}

.santa {
    right: 400px;
    top: 240px;
}

.santa img {
    width: 250px;
}

.characterNames, .characterText {
    color: #830000;
    font-size: 25px;
}

.characterNames {
    left: 190px;
    top: 520px;
}

.characterNamesFlipped {
    font-size: 25px;
    color: #830000;
    right: 180px;
    top: 520px;
}

.characterText {
    left: 215px;
    top: 610px;
}
